ul.menu {
	display: flex;
	flex-wrap: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background: grey;
	justify-content: flex-end;
	li {
		margin-right: 10px;
		list-style: none;
		a {
			color: white;
			padding: 10px;
			background: red;
		}
	}
}